@import '@/global.scss';

.container {
  .am-navbar {
    color: $dark-font-color;
  }
  section {
    min-height: 100%;
    padding-bottom: 100px;
  }

  footer {
    height: 100px;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
  }
}